{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    
    <div>
        <div id="chatbot-container">
            <h1>Chat With Us</h1>
            
            <form method="POST">
                {% csrf_token %}
                <label for="user_input">Ask me Anything</label>
                <input type="text" name="user_input" id="user_input">
                <button type="submit">Submit</button>
            </form>
            
            <p>
                <strong>Question:</strong> {{ user_input }}
            </p>
            <p>
                {{ processed_text | safe }}
            </p>
        </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>